<form method="post">
  Enter username: <input type="text" name="username">
  Enter password: <input type="text" name="password">
  <input type="submit">
  <li><a href="/signup">Create new username</a></li>
</form>