<form action="/form" method="post">
  Enter new username: <input type="text" name="username">
  Enter new password: <input type="text" name="password">
  Reenter new password: <input type="text" name="reenter">
  <input type="submit">
</form>


  <!-- <h3 class="reenter">create new username</h3> 
  <li>Enter new username <input class="newUsername"></input></li>
  <li>Enter new password: <input class="newPassword"></input></li>
  <li>Enter re-enter your password: <input class="reenterPassword"></input></li>
  <To post to sinatra, have to be in 'form and include method = post> -->
